
<div class = "container container-fluid" data-controller="decide"
                                         <%@humeurs.each do |humeur|%>
                                         data-decide-<%humeur%>-value = <%"#{humeur}"%>
                                         <% end %>>

  <div class="row m-5">
    <h1 class="pb-2"><strong>Je suis d'humeur :</strong></h1>
    <% @humeurs.each do |humeur| %>
      <h1 class="col p-2" data-target=<%"#{humeur}"%>><%= link_to humeur.name + ",", humeur_path(humeur)%></h1>
    <% end %>
  </div>
</div>
