<div class="d-flex position-absolute top-50 start-50 translate-middle">
  <h1 class="justify-content-center">
    <%= simple_form_for(@humeur) do |f| %>
      <%= f.input :name %>
      <%= f.submit %>
    <% end %>
  </h1>
</div>
