        <%# if !@mission.done %>
          <div>
            <div data-controller = "hello"
              class="mt-5 row d-flex h6">
              <%#= form_with(model: @mission, class:"h6") do |form| %>
                <%#= form.check_box :done,
                                  data: {
                                    id: @mission.id,
                                    action: "hello#toggle"
                                  }%>
                                  <%# C'est fait bébé ! %>
              <%# end %>
            </div>
          </div>
        <%# end %>

        <% if @mission.link && !@mission.photos.attached? %>

          <div>
            <h3 class="mt-5"><strong><%#= link_to '... ici', @mission.link %></strong></h3>
          </div>

        <% elsif @mission.address %>

          <div>
            <h4 class=""><%#= @mission.address %></h4>
          </div>

        <% elsif @mission.address %>

          <div style="width: 100%; height: 600px;"
            data-controller="map"
            data-map-markers-value="<%#= @markers.to_json %>"
            data-map-api-key-value="<%#= ENV['MAPBOX_API_KEY'] %>">
          </div>

        <% elsif @mission.video %>

          <div>
            <iframe class="mt-3" width="560" height="315" src=<%= @mission.video %> frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>

        <% elsif @mission.photos.attached? %>

          <div>
            <h1 class="mt-3"><%#= link_to cl_image_tag(@mission.photos.first.key, class: "mission-photo"), @mission.link %></h1>
          </div>

        <% end %>
