<div class = "">
  <div class= "container">

    <div class="row m-5">

      <%= @humeur.icon.html_safe %>
      <% if @humeur.missions.exists? %>
        <%# mission = @humeur.missions.map { |mission| mission }.sample %>
          <div>
            <h1 class="mt-5"><%= @mission.content %></h1>
          </div>

      <% else %>

        <div>
          <h4 class=""><%= link_to "Il n'y a pas encore d'mission associée à cette humeur", new_humeur_mission_path(@humeur)%>.</h4>
        </div>

      <% end %>

      <div class="fixed-bottom" data-controller="hello">
        <h3 id="word" class="mb-5 me-5 d-flex align-items-end flex-column"><%= link_to ":) j'ai changé d'humeur.", humeurs_path %></h3>
      </div>

    </div>
  </div>
</div>
