<div class ="d-flex position-absolute top-50 start-50 translate-middle"  data-controller="hello">
  <h1 id="word" class="justify-content-center"><strong><%= link_to "ϟ Je décide pour toi ϟ", humeurs_path %></strong></h1>
</div>
